# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[include mainsail.cfg]

[bltouch]
sensor_pin: ^PC14 #Remove ^ if print head crashes into bed, the ^ is for the CR touch a bl touch should work without.
control_pin: PA1
x_offset: -45
y_offset: -5
#z_offset: 0.0


[safe_z_home]
home_xy_position: 155, 115 # Change coordinates to the center of your print bed
speed: 50
z_hop: 15                # Move up 10mm
z_hop_speed: 5

[bed_mesh]
speed: 150
horizontal_move_z: 12
# Bezpieczny start czujnika:
mesh_min: 30, 30
# Maksymalny bezpieczny zasięg czujnika (220 - 45 = 175, dajemy 170 dla marginesu):
mesh_max: 170, 210
probe_count: 6, 6
algorithm: bicubic        # Zmień/dodaj tę linijkę (zamiast domyślnego lagrange)


[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 220
position_max: 220
homing_speed: 60

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
stealthchop_threshold:  999999   

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 220
position_max: 220
homing_speed: 70

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.680
stealthchop_threshold:  999999

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 4
# endstop_pin: ^PC2
# position_endstop: 0.0
endstop_pin: probe:z_virtual_endstop
position_max: 210
position_min: -5

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580             # Podbiliśmy prąd z 0.580 na 0.750, silnik zyska moc
stealthchop_threshold: 999999   # Włączamy StealthChop, żeby ruchy osi Z były płynne


[extruder]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD1
microsteps: 16
rotation_distance: 23.08312057
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 250
#pressure_advance: 0.012
pressure_advance: 0
max_extrude_only_distance: 150.0
max_extrude_cross_section: 5.0

[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3
run_current: 0.700
stealthchop_threshold: 0

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan controller_fan]
pin: PB15
heater: heater_bed
heater_temp: 45.0

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_52004D000B50414733303120-if00
serial: /dev/ttyAMA0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 1200
max_z_velocity: 5
max_z_accel: 100

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PD6, EXP1_10=<5V>


######################################################################
#  BigTreeTech TFT TouchScreen emulated 12864 mode
######################################################################

[display]
lcd_type: emulated_st7920
spi_software_miso_pin: PD8 # status led, Virtual MISO
spi_software_mosi_pin: PD6
spi_software_sclk_pin: PB9
en_pin: PB8
encoder_pins: ^PA10, ^PA9
click_pin: ^!PA15

[output_pin beeper]
pin: PB5

#--------------------------------------------------------------------
# RĘCZNE POZIOMOWANIE GAŁEK (Wspomagane przez BLTouch)
#--------------------------------------------------------------------
[screws_tilt_adjust]
screw1: 50, 35
screw1_name: lewy przod

screw2: 220, 35        # Twoja pozycja: Czujnik nad śrubą
screw2_name: prawy przod

screw3: 220, 210
screw3_name: prawy tyl

screw4: 50, 210
screw4_name: lewy tyl

horizontal_move_z: 10
speed: 150
screw_thread: CW-M4

[gcode_macro SKRYPT_SRUBY]
gcode:
    # 1. Ustawienie temperatury stołu na 60 stopni i czekanie na rozgrzanie
    M117 Rozgrzewanie stolu...
    M190 S70
    
    # 2. Bazowanie wszystkich osi (jeśli nie były zbazowane)
    M117 Bazowanie...
    G28
    
    # 3. Odpalenie pomiaru śrub
    M117 Pomiar srub...
    SCREWS_TILT_CALCULATE
    
    M117 Pomiar zakonczony!

[gcode_macro TEST_WYSOKOSCI]
gcode:
    # 1. Uruchomienie grzania stołu i dyszy w tle
    M117 Rozgrzewanie (Stol: 70, Dysza: 240)...
    M140 S70
    M104 S240
    
    # 2. Czekanie na osiągnięcie zadanych temperatur
    M190 S70
    M109 S240
    
    # 3. Bazowanie wszystkich osi
    M117 Bazowanie osi...
    G28
    
    # 4. Ustawienie pozycjonowania absolutnego
    G90
    
    # 5. Zjazd na środek stołu na wysokość pierwszej warstwy (0.2mm)
    M117 Zjazd na Z=0.2...
    G1 X110 Y110 Z0.2 F3000
    
    M117 Sprawdz kartke pod dysza!

[gcode_macro LUZUJ_XY]
gcode:
    SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=0
    SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=0
    M117 Osie X i Y sa wolne!

#--------------------------------------------------------------------
# AUTOMATYCZNA RETRAKCJA 3MM NA KONIEC / PAUZE / STOP
#--------------------------------------------------------------------

[gcode_macro CANCEL_PRINT]
description: Anulowanie druku z retrakcja 3mm
rename_existing: BASE_CANCEL_PRINT
gcode:
    G91                          # Tryb względny
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G1 E-4 F2400               # Szybka retrakcja 3mm
    {% endif %}
    G90                          # Powrót do trybu absolutnego
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
description: Pauza z retrakcja 3mm
rename_existing: BASE_PAUSE
gcode:
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E-4 F2400               # Szybka retrakcja 3mm
      G90
    {% endif %}
    BASE_PAUSE

[gcode_macro RESUME]
description: Wznowienie druku z dopchnieciem 3mm
rename_existing: BASE_RESUME
gcode:
    {% if printer.extruder.can_extrude|lower == 'true' %}
      G91
      G1 E3 F2400                # Dopchnięcie ubytku o 3mm przed startem
      G90
    {% endif %}
    BASE_RESUME

#====================================================================
# SYSTEMOWE MAKRA STARTU, KOŃCA I POZYCJONOWANIA STOŁU
#====================================================================

[gcode_macro START_PRINT]
description: Czyszczenie współrzędnych i bezpieczny start z mapą stołu
gcode:
    # Pobranie temperatur przekazanych ze slicera
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(200)|float %}

    G21 ; Jednostki na milimetry
    G90 ; Absolutne pozycjonowanie osi
    M82 ; Ekstruder w trybie absolutnym
    M220 S100 ; Reset prędkości (Feedrate)
    M221 S100 ; Reset przepływu (Flowrate)

    M117 Grzanie w tle...
    M140 S{BED_TEMP}       ; Uruchom grzanie stołu w tle
    M104 S{EXTRUDER_TEMP}  ; Uruchom grzanie dyszy w tle

    M117 Bazowanie osi...
    G28                    ; Pełne bazowanie osi (CZYŚCI stary mesh!)

    M117 Wczytywanie mapy...
    BED_MESH_PROFILE LOAD=default  ; AKTYWACJA WYGRZANEJ MAPY STOŁU

    M117 Czekam na temperatury...
    M190 S{BED_TEMP}       ; Czekaj na pełne rozgrzanie stołu
    M109 S{EXTRUDER_TEMP}  ; Czekaj na pełne rozgrzanie dyszy

    G92 E0 ; Reset pozycji ekstrudera
    M117 Drukuję...

[gcode_macro END_PRINT]
description: Bezpieczne zakończenie wydruku i prezentacja modelu
gcode:
    G91 ; Ustawienie ruchów względnych
    G1 E-3 F2400 ; Szybkie wycofanie 3mm filamentu (czysta dysza)
    G1 Z2.0 F2400 ; Delikatne uniesienie osi Z nad model
    G1 X5 Y5 F3000 ; Krótki wipe (wytarcie dyszy o krawędź)
    G90 ; Powrót do pozycjonowania absolutnego

    # Wyjazd stołu w dół na bezpieczną wysokość i wysunięcie go
    POZYCJA_DO_CZYSZCZENIA

    M106 S0 ; Wyłączenie wentylatora chłodzenia
    M104 S0 ; Wyłączenie grzania dyszy
    M140 S0 ; Wyłączenie grzania stołu
    M84 X Y E ; Odcięcie prądu od silników X, Y oraz E (oś Z trzyma sztywno)
    M117 Wydruk zakonczony!

[gcode_macro POZYCJA_DO_CZYSZCZENIA]
description: Zjeżdża stołem na dół i wystawia głowicę
gcode:
    # Jeśli osie nie są zbazowane - bazuje przed ruchem
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}
    G90 ; Pozycjonowanie absolutne
    M117 Odsuwanie stolu...
    # W Enderze 5: stół leci w dół na 150mm, a głowica jedzie w lewy przód (X10 Y10)
    G1 X10 Y10 Z150 F3000

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.742
#*# pid_ki = 1.504
#*# pid_kd = 127.962
#*#
#*# [bltouch]
#*# z_offset = 2.300
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.033750, 0.035000, 0.026250, 0.025000, 0.070000, 0.088750
#*# 	  -0.032500, 0.003750, 0.002500, -0.013750, 0.057500, 0.062500
#*# 	  -0.011250, -0.006250, -0.032500, -0.036250, -0.001250, 0.027500
#*# 	  -0.012500, -0.035000, -0.033750, -0.042500, -0.005000, 0.022500
#*# 	  0.006250, -0.007500, -0.055000, -0.070000, 0.007500, 0.037500
#*# 	  0.088750, 0.040000, 0.026250, -0.008750, 0.041250, 0.078750
#*# x_count = 6
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 170.0
#*# min_y = 30.0
#*# max_y = 210.0
